<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Travel Agency - Detalji Putovanja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <base th:href="@{rezervacije}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
            <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/korisnici">Korisnici</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/putovanja">Putovanja</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
            <li class="nav-item"><a class="nav-link" href="/travelagency/korisnici/registracija">Registracija</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}">
                <a class="nav-link" href="../korisnici/profil">
                    <span class="material-symbols-outlined">person_outline</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="../korisnici/logout">LogOut</a></li>
        </ul>
    </div>
</nav>
<div th:if="${error}">
    <div class="alert alert-danger" role="alert" th:text="${param.error}"></div>
</div>
<div class="container" style="margin-bottom: 50px;">
    <h1 th:text="${putovanje.nazivDestinacije}"></h1>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Slika:</th>
            <td><img th:src="@{'../' + ${putovanje.slika}}" alt="Slika destinacije" style="width: 100px; height: auto;">
            </td>
        </tr>
        <tr>
            <th scope="row">Datum i vreme polaska:</th>
            <td th:text="${#temporals.format(putovanje.datumVremePolaska, 'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <th scope="row">Datum i vreme povratka:</th>
            <td th:text="${#temporals.format(putovanje.datumVremePovratka, 'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <th scope="row">Broj noćenja:</th>
            <td th:text="${putovanje.brojNocenja}"></td>
        </tr>
        <tr>
            <th scope="row">Cena:</th>
            <td>
                <div th:if="${putovanje.popust.procenat != null && putovanje.jeNaPopustu()}">
                    <p style="text-decoration: line-through;">
                        <span th:text="${#numbers.formatDecimal(putovanje.cena, 1, 2)} + ' €'"></span>
                    </p>
                    <p>
                        <span th:text="${#numbers.formatDecimal(putovanje.getCenaSaPopustom(), 1, 2)} + ' €'"></span>
                        <span style="color: red;"> (Sa popustom)</span>
                    </p>
                </div>
                <div th:unless="${putovanje.popust.procenat != null && putovanje.jeNaPopustu()}">
                    <span th:text="${#numbers.formatDecimal(putovanje.cena, 1, 2)} + ' €'"></span>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Ukupan broj mesta:</th>
            <td th:text="${putovanje.ukupanBrojMesta}"></td>
        </tr>
        <tr>
            <th scope="row">Broj slobodnih mesta:</th>
            <td th:text="${putovanje.brojSlobodnihMesta}"></td>
        </tr>
        <tr>
            <th scope="row">Smestajna jedinica:</th>
            <td th:text="${putovanje.smestajnaJedinica}"></td>
        </tr>
        <tr>
            <th scope="row">Prevozno sredstvo:</th>
            <td th:text="${putovanje.prevoznoSredstvo}"></td>
        </tr>
        <tr>
            <th scope="row">Kategorija putovanja:</th>
            <td th:text="${putovanje.kategorijaPutovanja.naziv}"></td>
        </tr>
        </tbody>
    </table>
    <!-- Forma za rezervaciju -->
    <div th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'KUPAC'}">
        <div th:if="${#lists.isEmpty(rezervacije) or (nemaNaCekanju and !imaPrihvacenih)}">
            <form th:action="@{/rezervacije/rezervisi/{id}(id=${putovanje.id})}" method="post">
                <div class="form-group">
                    <label for="brojMesta">Broj mesta:</label>
                    <input type="number" class="form-control" id="brojMesta" name="brojMesta" min="1" required>
                </div>
                <button type="submit" class="btn btn-primary">Rezerviši</button>
            </form>
        </div>
        <div th:each="rezervacija : ${rezervacije}">
            <div th:if="${rezervacija.statusRezervacije == T(com.travelagency.travelAgency.model.StatusRezervacije).NA_CEKANJU}">
                <p>Vaša rezervacija je na čekanju.</p>
            </div>
            <div th:if="${rezervacija.statusRezervacije == T(com.travelagency.travelAgency.model.StatusRezervacije).PRIHVACENO}">
                <p>Vaša rezervacija je prihvaćena.</p>
            </div>
        </div>
    </div>
    <div th:if="${session['prijavljeniKorisnik'] == null}">
        <p>Molimo vas da se <a th:href="@{/korisnici/login}">ulogujete</a> kako biste rezervisali putovanje.</p>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
