<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/cardStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/bocniMeni.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <base href="/travelagency/">
    <title>Travel Agency - Home</title>
    <style>
        .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
    <button class="btn btn-primary" onclick="openNav()">Pretraga i filtriranje</button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="korisnici">Korisnici</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="putovanja">Putovanja</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
            <li class="nav-item"><a class="nav-link" href="korisnici/registracija">Registracija</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}">
                <a class="nav-link" href="korisnici/profil">
                    <span class="material-symbols-outlined">person_outline</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="korisnici/logout">LogOut</a></li>
        </ul>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <form th:action="@{/pretraga}" method="get" class="form-inline">
        <div class="form-group mb-2">
            <label for="prevoznoSredstvo" class="mr-2">Prevozno sredstvo</label>
            <select id="prevoznoSredstvo" name="prevoznoSredstvo" class="form-control mr-3">
                <option value="">Svi</option>
                <option value="AVION">Avion</option>
                <option value="AUTOBUS">Autobus</option>
                <option value="SOPTSVENI_PREVOZ">Sopstveni prevoz</option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="nazivDestinacije" class="mr-2">Naziv destinacije</label>
            <input type="text" id="nazivDestinacije" name="nazivDestinacije" class="form-control mr-3">
        </div>
        <div class="form-group mb-2">
            <label for="kategorijaPutovanja" class="mr-2">Kategorija</label>
            <select id="kategorijaPutovanja" name="kategorijaPutovanja" class="form-control mr-3">
                <option value="">Sve</option>
                <option th:each="kategorija : ${kategorije}" th:value="${kategorija.id}" th:text="${kategorija.naziv}"></option>
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="brojNocenja" class="mr-2">Broj noćenja</label>
            <input type="number" id="brojNocenja" name="brojNocenja" class="form-control mr-3">
        </div>
        <div class="form-group mb-2">
            <label for="minCena" class="mr-2">Minimalna cena</label>
            <input type="number" id="minCena" name="minCena" class="form-control mr-3">
        </div>
        <div class="form-group mb-2">
            <label for="maxCena" class="mr-2">Maksimalna cena</label>
            <input type="number" id="maxCena" name="maxCena" class="form-control mr-3">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pretraži</button>
    </form>

    <h2>Sortiranje</h2>
    <form th:action="@{/sortiraj}" method="get" class="form-inline">
        <div class="form-group mb-2">
            <label for="sortirajPo" class="mr-2">Sortiraj po</label>
            <select id="sortirajPo" name="sortirajPo" class="form-control mr-3">
                <option value="nazivDestinacije">Naziv destinacije</option>
                <option value="cena">Cena</option>
                <option value="brojNocenja">Broj noćenja</option>
            </select>
        </div>
        <button type="submit" class="btn btn-secondary mb-2">Sortiraj</button>
    </form>
</div>

<div id="main" class="main">
    <main style="flex-wrap:wrap; justify-content:space-evenly;">
        <article class="card" th:each="itPutovanje : ${putovanja}">
            <img class="card__background" th:src="@{${itPutovanje.slika}}" alt="Photo of Cartagena's cathedral at the background and some colonial style houses" width="1920" height="2193"/>
            <div class="card__content | flow">
                <div class="card__content--container | flow">
                    <h2 class="card__title" th:text="${itPutovanje.nazivDestinacije}">Colombia</h2>
                    <label style="margin-top: 10px; color: white;">Broj noćenja</label>
                    <p class="card__description" style="margin-top: -11px;" th:text="${itPutovanje.brojNocenja != null ? itPutovanje.brojNocenja : 'Nema dostupnog opisa'}"></p>
                    <label style="margin-top: 0px; color: white;">Broj slobodnih mesta</label>
                    <p th:text="${itPutovanje.brojSlobodnihMesta != null ? itPutovanje.brojSlobodnihMesta : 'Nema dostupnog opisa'}"></p>
                </div>
                <div id="cena" style="display: flex; justify-content: space-between;">
                    <button class="card__button"><a th:href="@{/putovanja/{id}(id=${itPutovanje.id})} " style="color: black;">Read more</a></button>
                    <p class="card__description" th:text="${itPutovanje.cena != null ? itPutovanje.cena + ' €' : 'Nema dostupnog opisa'}" style="margin-right: 35px;"></p>
                </div>

            </div>
            <div th:if="${itPutovanje != null and itPutovanje.popust != null and (itPutovanje.popust.procenat == null or itPutovanje.popust.procenat != 0.0) and itPutovanje.jeNaPopustu()}" class="badge badge-primary">Popust</div>
        </article>
    </main>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
