<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Izmeni Putovanje</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <base th:href="@{putovanja}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="/travelagency/korisnici">Korisnici</a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="/travelagency/putovanja">Putovanja</a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
      <li class="nav-item"><a class="nav-link" href="/travelagency/korisnici/registracija">Registracija</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}">
        <a class="nav-link" href="/travelagency/korisnici/profil">
          <span class="material-symbols-outlined">person_outline</span>
        </a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="/travelagency/korisnici/logout">LogOut</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Izmeni Putovanje</h2>
  <form th:action="@{/putovanja/sacuvajIzmjene}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${putovanje.id}">
    <div class="form-group">
      <label for="nazivDestinacije">Naziv Destinacije</label>
      <input type="text" class="form-control" id="nazivDestinacije" name="nazivDestinacije" th:value="${putovanje.nazivDestinacije}" required>
    </div>
    <div class="form-group">
      <label for="file">Odaberi novu sliku (opciono):</label>
      <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <div class="form-group">
      <!-- Skriveno polje za trenutni naziv slike -->
      <input type="hidden" class="form-control" id="imageName" name="imageName" th:value="${putovanje.slika}">
    </div>
    <div class="form-group">
      <label for="datumVremePolaska">Datum i Vreme Polaska</label>
      <input type="datetime-local" class="form-control" id="datumVremePolaska" name="datumVremePolaska" th:value="${putovanje.datumVremePolaska}" required>
    </div>
    <div class="form-group">
      <label for="datumVremePovratka">Datum i Vreme Povratka</label>
      <input type="datetime-local" class="form-control" id="datumVremePovratka" name="datumVremePovratka" th:value="${putovanje.datumVremePovratka}" required>
    </div>
    <div class="form-group">
      <label for="brojNocenja">Broj Noćenja</label>
      <input type="number" class="form-control" id="brojNocenja" name="brojNocenja" th:value="${putovanje.brojNocenja}" required>
    </div>
    <div class="form-group">
      <label for="cena">Cena</label>
      <input type="number" class="form-control" id="cena" name="cena" step="0.01" th:value="${putovanje.cena}" required>
    </div>
    <div class="form-group">
      <label for="ukupanBrojMesta">Ukupan Broj Mesta</label>
      <input type="number" class="form-control" id="ukupanBrojMesta" name="ukupanBrojMesta" th:value="${putovanje.ukupanBrojMesta}" required>
    </div>
    <div class="form-group">
      <label for="brojSlobodnihMesta">Broj Slobodnih Mesta</label>
      <input type="number" class="form-control" id="brojSlobodnihMesta" name="brojSlobodnihMesta" th:value="${putovanje.brojSlobodnihMesta}" required>
    </div>
    <div class="form-group">
      <label for="smestajnaJedinica">Smeštajna Jedinica</label>
      <select class="form-control" id="smestajnaJedinica" name="smestajnaJedinica" th:value="${putovanje.smestajnaJedinica}">
        <option th:each="option : ${smestajnaJedinicaOptions}" th:value="${option}" th:text="${option}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="prevoznoSredstvo">Prevozno Sredstvo</label>
      <select class="form-control" id="prevoznoSredstvo" name="prevoznoSredstvo" th:value="${putovanje.prevoznoSredstvo}">
        <option th:each="option : ${prevoznoSredstvoOptions}" th:value="${option}" th:text="${option}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="kategorijaPutovanja">Kategorija Putovanja</label>
      <select class="form-control" id="kategorijaPutovanja" name="kategorijaPutovanja" th:value="${putovanje.kategorijaPutovanja.id}">
        <option th:each="option : ${kategorijePutovanja}" th:value="${option.id}" th:text="${option.naziv}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Sačuvaj izmene</button>
  </form>
</div>
<script>
    document.getElementById('file').addEventListener('change', function() {
        var file = this.files[0];
        var fileName = file.name;
        document.getElementById('imageName').value = fileName;
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
