<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base th:href="@{korisnici}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>Korisnici</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
            <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="korisnici">Korisnici</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="putovanja">Putovanja</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
            <li class="nav-item"><a class="nav-link" href="korisnici/registracija">Registracija</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}">
                <a class="nav-link" href="/travelagency/korisnici/profil">
                    <span class="material-symbols-outlined">person_outline</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="korisnici/logout">LogOut</a></li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <table class="table">
        <caption>Korisnici</caption>
        <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="itKorisnik : ${korisnici}">
            <td th:text="${itKorisnik.id}"></td>
            <td th:text="${itKorisnik.ime}"></td>
            <td th:text="${itKorisnik.prezime}"></td>
            <td th:text="${itKorisnik.email}"></td>
            <td>
                <form method="post" action="korisnici/obrisi">
                    <input type="hidden" name="id" th:value="${itKorisnik.id}">
                    <input type="submit" value="obriši" class="btn btn-danger">
                    <a th:href="@{/korisnici/izmjeniKorisnika/{id}(id=${itKorisnik.id})}" class="btn btn-primary">Izmijeni</a>

                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
