<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/stiloviForma.css"/>
    <link rel="stylesheet" type="text/css" href="css/stiloviKorisnik.css"/>
    <base href="/travelagency/">
    <title>Prijava</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
            <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="korisnici">Korisnici</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="putovanja">Putovanja</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
            <li class="nav-item"><a class="nav-link" href="korisnici/registracija">Registracija</a></li>

            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="korisnici/logout">LogOut</a></li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Prijava</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/travelagency/korisnici/login">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="lozinka">Lozinka:</label>
                            <input type="password" class="form-control" id="lozinka" name="lozinka" required>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Prijavi se</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p th:text="${poruka}" class="text-danger"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
