<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Profil korisnika</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<!--  <script src="../js/promjenaLozinke.js"></script>-->
  <base href="/travelagency/">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
      <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="/travelagency/korisnici">Korisnici</a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="/travelagency/putovanja">Putovanja</a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
      <li class="nav-item"><a class="nav-link" href="korisnici/registracija">Registracija</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="korisnici/logout">LogOut</a></li>
    </ul>
  </div>
</nav>
<!-- Prikaz poruka o uspehu ili grešci -->
<div th:if="${success}">
  <div class="alert alert-success" role="alert" th:text="${success}"></div>
</div>
<div th:if="${error}">
  <div class="alert alert-danger" role="alert" th:text="${error}"></div>
</div>

  <h1>Podaci o korisniku</h1>
  <table class="table table-striped">
    <tbody>
    <tr>
      <td>Email:</td>
      <td th:text="${korisnik.email}"></td>
    </tr>
    <tr>
      <td>Ime:</td>
      <td th:text="${korisnik.ime}"></td>
    </tr>
    <tr>
      <td>Prezime:</td>
      <td th:text="${korisnik.prezime}"></td>
    </tr>
    <tr>
      <td>Datum Rodjenja:</td>
      <td th:text="${korisnik.datumRodjenja}"></td>
    </tr>
    <tr>
      <td>JMBG:</td>
      <td th:text="${korisnik.jmbg}"></td>
    </tr>
    <tr>
      <td>Adresa:</td>
      <td th:text="${korisnik.adresa}"></td>
    </tr>
    <tr>
      <td>Broj telefona:</td>
      <td th:text="${korisnik.brojTelefona}"></td>
    </tr>
    <tr>
      <td>Datum registracije:</td>
      <td th:text="${korisnik.datumVremeRegistracije}"></td>
    </tr>
    <tr>
      <td>Uloga:</td>
      <td th:text="${korisnik.uloga}"></td>
    </tr>
    <!-- Dodajte ostale podatke o korisniku koje želite prikazati -->
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">Uredi profil</button>
  <!-- Dugme za izmjenu lozinke -->
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#changePasswordModal">Izmjeni lozinku</button>
  <a th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'KUPAC'}"
   th:href="@{/rezervacije}" class="btn btn-primary">Moje Rezervacije</a>
</div>

<!-- Modal za izmjenu lozinke -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Izmjena lozinke</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/korisnici/promeniLozinku}" method="post">
        <div class="form-group">
            <label for="currentPassword">Trenutna lozinka</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
          </div>
          <div class="form-group">
            <label for="newPassword">Nova lozinka</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Potvrdi novu lozinku</label>
            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword">
          </div>
          <button type="submit" class="btn btn-primary">Sačuvaj novu lozinku</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal za izmjenu profila -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileModalLabel">Uredi profil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/korisnici/izmjeni}" method="post">
          <div class="form-group">
            <label for="email">Ime</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${korisnik.email}" required>
          </div>
          <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text" class="form-control" id="ime" name="ime" th:value="${korisnik.ime}" required>
          </div>
          <div class="form-group">
            <label for="prezime">Prezime</label>
            <input type="text" class="form-control" id="prezime" name="prezime" th:value="${korisnik.prezime}" required>
          </div>
          <div class="form-group">
            <label for="datumRodjenja">Datum rođenja</label>
            <input type="date" class="form-control" id="datumRodjenja" name="datumRodjenja" th:value="${korisnik.datumRodjenja}" required>
          </div>
          <div class="form-group">
            <label for="jmbg">JMBG</label>
            <input type="text" class="form-control" id="jmbg" name="jmbg" th:value="${korisnik.jmbg}" required>
          </div>
          <div class="form-group">
            <label for="adresa">Adresa</label>
            <input type="text" class="form-control" id="adresa" name="adresa" th:value="${korisnik.adresa}" required>
          </div>
          <div class="form-group">
            <label for="brojTelefona">Broj telefona</label>
            <input type="text" class="form-control" id="brojTelefona" name="brojTelefona" th:value="${korisnik.brojTelefona}" required>
          </div>
          <button type="submit" class="btn btn-primary">Sačuvaj izmjene</button>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
