<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <base th:href="@{putovanja}">
  <title>Putovanja</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
      <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="korisnici">Korisnici</a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="putovanja">Putovanja</a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
      <li class="nav-item"><a class="nav-link" href="korisnici/registracija">Registracija</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}">
        <a class="nav-link" href="korisnici/profil">
          <span class="material-symbols-outlined">person_outline</span>
        </a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="korisnici/logout">LogOut</a></li>
    </ul>
  </div>
</nav>
<!-- Na primer, negde u vašem HTML-u -->
<div th:if="${not #strings.isEmpty(errorMessage)}" class="alert alert-danger" role="alert">
  <p th:text="${errorMessage}"></p>
</div>
<div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success" role="alert">
  <p th:text="${successMessage}"></p>
</div>


<div class="container mt-5" style="margin-left: 10px;">
  <!-- Prikazivanje poruka o greškama -->
  <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
    <span th:text="${errorMessage}"></span>
  </div>
  <div th:if="${successMessage}" class="alert alert-success" role="alert">
    <span th:text="${successMessage}"></span>
  </div>
  <h2 class="text-center">Putovanja</h2>
  <a href="/travelagency/putovanja/dodavanjePutovanja" class="btn btn-success mb-3">Dodaj Putovanje</a>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Naziv Destinacije</th>
      <th>Slika</th>
      <th>Datum Polaska</th>
      <th>Datum Povratka</th>
      <th>Broj Noćenja</th>
      <th>Cena</th>
      <th>Popust (%)</th>
      <th>Ukupan Broj Mesta</th>
      <th>Broj Slobodnih Mesta</th>
      <th>Smeštajna Jedinica</th>
      <th>Prevozno Sredstvo</th>
      <th>Kategorija Putovanja</th>
      <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="putovanje : ${putovanja}">
      <td th:text="${putovanje.id}">1</td>
      <td th:text="${putovanje.nazivDestinacije}">Paris</td>
      <td><img th:src="@{${putovanje.slika}}" alt="Slika destinacije" style="width: 100px; height: auto;"></td>
      <td th:text="${#temporals.format(putovanje.datumVremePolaska, 'dd-MM-yyyy HH:mm')}">01-07-2023 10:00</td>
      <td th:text="${#temporals.format(putovanje.datumVremePovratka, 'dd-MM-yyyy HH:mm')}">10-07-2023 18:00</td>
      <td th:text="${putovanje.brojNocenja}">9</td>
      <td th:text="${putovanje.cena}">500</td>
      <td th:text="${putovanje.popust.procenat}">10</td>
      <td th:text="${putovanje.ukupanBrojMesta}">50</td>
      <td th:text="${putovanje.brojSlobodnihMesta}">20</td>
      <td th:text="${putovanje.smestajnaJedinica}">HOTEL</td>
      <td th:text="${putovanje.prevoznoSredstvo}">AVION</td>
      <td th:text="${putovanje.kategorijaPutovanja.naziv}">Letovanje</td>
      <td>
        <form method="post" action="putovanja/obrisi">
          <input type="hidden" name="id" th:value="${putovanje.id}">
          <input type="submit" value="obriši" class="btn btn-danger" style="width: 80px; margin-bottom: 1px">
          <a th:href="@{/putovanja/izmjeniPutovanje/{id}(id=${putovanje.id})}" class="btn btn-primary" style="margin-bottom: 1px">Izmijeni</a>
          <button type="button" class="btn btn-info" th:if="${putovanje.popust == null || putovanje.popust.procenat == 0.0}" data-toggle="modal" data-target="#popustModal" th:data-id="${putovanje.id}">Dodaj Popust</button>

        </form>

      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modalna forma za dodavanje popusta -->
<div class="modal fade" id="popustModal" tabindex="-1" role="dialog" aria-labelledby="popustModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popustModalLabel">Dodavanje Popusta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/putovanja/dodajPopust}" method="post">
          <input type="hidden" name="putovanjeId" id="putovanjeId">
          <div class="form-group">
            <label for="procenat">Procenat Popusta</label>
            <input type="number" class="form-control" id="procenat" name="procenat" required>
          </div>
          <div class="form-group">
            <label for="pocetakVazenja">Početak Važenja</label>
            <input type="datetime-local" class="form-control" id="pocetakVazenja" name="pocetakVazenja" required>
          </div>
          <div class="form-group">
            <label for="krajVazenja">Kraj Važenja</label>
            <input type="datetime-local" class="form-control" id="krajVazenja" name="krajVazenja" required>
          </div>

          <button type="submit" class="btn btn-primary">Dodaj Popust</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  $('#popustModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var putovanjeId = button.data('id');
    var modal = $(this);
    modal.find('.modal-body #putovanjeId').val(putovanjeId);
  });
});
</script>
</body>
</html>
