<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <base href="/travelagency/">
    <title>Registracija</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
            <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="korisnici">Korisnici</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="putovanja">Putovanja</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="korisnici/logout">LogOut</a></li>
        </ul>
    </div>
</nav>
<div th:if="${param.error}">
    <div class="alert alert-danger" role="alert" th:text="${param.error}"></div>
</div>
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Registracija</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="korisnici/registracija">
                        <div class="form-group">
                            <label for="ime">Ime:</label>
                            <input type="text" class="form-control" id="ime" name="ime" required>
                        </div>
                        <div class="form-group">
                            <label for="prezime">Prezime:</label>
                            <input type="text" class="form-control" id="prezime" name="prezime" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="lozinka">Šifra:</label>
                            <input type="password" class="form-control" id="lozinka" name="lozinka" required>
                        </div>
                        <div class="form-group">
                            <label for="potvrdiLozinku">Potvrdi šifru:</label>
                            <input type="password" class="form-control" id="potvrdiLozinku" name="potvrdiLozinku" required>
                        </div>
                        <div class="form-group">
                            <label for="datumRodjenja">Datum rođenja:</label>
                            <input type="date" class="form-control" id="datumRodjenja" name="datumRodjenja" required>
                        </div>
                        <div class="form-group">
                            <label for="jmbg">JMBG:</label>
                            <input type="text" class="form-control" id="jmbg" name="jmbg" required>
                        </div>
                        <div class="form-group">
                            <label for="brojTelefona">Broj telefona:</label>
                            <input type="text" class="form-control" id="brojTelefona" name="brojTelefona" required>
                        </div>
                        <div class="form-group">
                            <label for="adresa">Adresa:</label>
                            <input type="text" class="form-control" id="adresa" name="adresa">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Registruj se</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
