<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Moje rezervacije</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
      <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="korisnici">Korisnici</a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
        <a class="nav-link" href="putovanja">Putovanja</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
      <li class="nav-item"><a class="nav-link" href="korisnici/registracija">Registracija</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}">
        <a class="nav-link" href="korisnici/profil">
          <span class="material-symbols-outlined">person_outline</span>
        </a>
      </li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
      <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="korisnici/logout">LogOut</a></li>
    </ul>
  </div>
</nav>
<!-- Prikaz poruka o uspehu ili grešci -->
<div th:if="${success}">
  <div class="alert alert-success" role="alert" th:text="${success}"></div>
</div>
<div th:if="${error}">
  <div class="alert alert-danger" role="alert" th:text="${error}"></div>
</div>
<div class="container">

  <!-- Ostatak sadržaja stranice -->
  <div class="container mt-4">
    <h2>Dobrodošli, [[${session.korisnik.ime}]]!</h2>
    <p>Ovde možete videti svoje rezervacije.</p>

    <!-- Forma za filtriranje -->
    <form th:action="@{/rezervacije}" method="get" class="form-inline mb-4">
      <div class="form-group">
        <label for="status">Filtriraj po statusu: </label>
        <select name="status" id="status" class="form-control mx-2">
          <option value="">Svi</option>
          <option value="finished">Završena putovanja</option>
          <option value="upcoming">Buduća putovanja</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Filtriraj</button>
    </form>
<!--    &lt;!&ndash; Ovdje dodajemo sekciju za prikazivanje poruka &ndash;&gt;-->
<!--    <div th:if="${successMessage != null}" class="alert alert-success" role="alert">-->
<!--      <span th:text="${successMessage}"></span>-->
<!--    </div>-->
<!--    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">-->
<!--      <span th:text="${errorMessage}"></span>-->
<!--    </div>-->

    <!-- Tabela za prikaz rezervacija -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Putovanje</th>
        <th>Datum polaska</th>
        <th>Broj mesta</th>
        <th>Ukupna cena</th>
        <th>Status</th>
        <th>Akcije</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="rezervacija : ${rezervacije}">
        <td th:text="${rezervacija.putovanje.nazivDestinacije}"></td>
        <td th:text="${#temporals.format(rezervacija.putovanje.datumVremePolaska, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${rezervacija.brojMesta}"></td>
        <td th:text="${rezervacija.ukupnaCena}"></td>
        <td th:text="${rezervacija.statusRezervacije}"></td>
        <td>
          <form th:action="@{/rezervacije/otkazi/{id}(id=${rezervacija.id})}" method="post">
            <button type="submit" class="btn btn-danger" th:disabled="${rezervacija.getPutovanje().getDatumVremePolaska().isBefore(T(java.time.LocalDateTime).now()) or
            rezervacija.statusRezervacije == T(com.travelagency.travelAgency.model.StatusRezervacije).PRIHVACENO or rezervacija.statusRezervacije == T(com.travelagency.travelAgency.model.StatusRezervacije).ODBIJENO}">Otkazi</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- JavaScript koji je potreban za Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
