<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Travel Agency - Rezervacije</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <base th:href="@{rezervacije}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/travelagency/">Travel Agency</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="background-color: #f8f9fa">
            <!-- Prikazujemo linkove samo ako je korisnik menadzer -->
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/korisnici">Korisnici</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/putovanja">Putovanja</a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null and session['prijavljeniKorisnik'].uloga.name() == 'MENAGER'}">
                <a class="nav-link" href="/travelagency/rezervacije/sve">Rezervacije</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="background-color: #f8f9fa">
            <li class="nav-item"><a class="nav-link" href="../korisnici/registracija">Registracija</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}">
                <a class="nav-link" href="/travelagency/korisnici/profil">
                    <span class="material-symbols-outlined">person_outline</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] == null}"><a class="nav-link" href="korisnici/login">LogIn</a></li>
            <li class="nav-item" th:if="${session['prijavljeniKorisnik'] != null}"><a class="nav-link" href="../korisnici/logout">LogOut</a></li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 20px;">
    <h1>Sve rezervacije</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Detalji putovanja</th>
            <th scope="col">Datum polaska</th>
            <th scope="col">Broj mesta</th>
            <th scope="col">Status</th>
            <th scope="col">Prihvati/Odbij</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iteracija kroz listu rezervacija -->
        <tr th:each="rezervacija, iterStat : ${rezervacije}">
            <td th:text="${iterStat.index + 1}"></td>
            <td><a th:href="@{/putovanja/{id}(id=${rezervacija.putovanje.id})}" th:text="${rezervacija.putovanje.nazivDestinacije}" style="color: black"></a></td>
            <td th:text="${#temporals.format(rezervacija.putovanje.datumVremePolaska, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${rezervacija.brojMesta}"></td>
            <td th:text="${rezervacija.statusRezervacije.name()}"></td>
            <td th:if="${rezervacija.statusRezervacije == T(com.travelagency.travelAgency.model.StatusRezervacije).NA_CEKANJU}">
                <div>
                    <form th:action="@{/rezervacije/prihvati}" method="post">
                        <input type="hidden" name="rezervacijaId" th:value="${rezervacija.id}" />
                        <button type="submit" class="btn btn-success">Prihvati</button>
                    </form>
                    <form th:action="@{/rezervacije/odbij}" method="post">
                        <input type="hidden" name="rezervacijaId" th:value="${rezervacija.id}" />
                        <button type="submit" class="btn btn-danger" style="width: 75px;">Odbij</button>
                    </form>
                </div>
            </td>
            <td th:unless="${rezervacija.statusRezervacije == T(com.travelagency.travelAgency.model.StatusRezervacije).NA_CEKANJU}">
                <!-- Ako nije status NA_CEKANJU, prazan red za konzistentan prikaz tabele -->
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Poruka ako nema rezervacija -->
    <div th:if="${#lists.isEmpty(rezervacije)}">
        <p>Trenutno nema rezervacija za prikaz.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
